<div class="flex justify-center items-center">
  <div class="grid auto-cols-max grid-flow-col gap-5 text-center text-black">
    <div
      class="bg-white rounded-md text-neutral-content flex flex-col p-2 border shadow-md"
    >
      <span class="countdown font-mono text-[35px]">
        <span aria-live="polite">{{ days }}</span>
      </span>
      Dias
    </div>
    <div
      class="bg-white rounded-md text-neutral-content flex flex-col p-2 border shadow-md"
    >
      <span class="countdown font-mono text-[35px]">
        <span aria-live="polite">{{ hours }}</span>
      </span>
      Hrs
    </div>
    <div
      class="bg-white rounded-md text-neutral-content flex flex-col p-2 border shadow-md"
    >
      <span class="countdown font-mono text-[35px]">
        <span aria-live="polite">{{ minutes }}</span>
      </span>
      Min
    </div>
    <div
      class="bg-white rounded-md text-neutral-content flex flex-col p-2 border shadow-md"
    >
      <span class="countdown font-mono text-[35px]">
        <span aria-live="polite">{{ seconds }}</span>
      </span>
      Seg
    </div>
  </div>
</div>
