<div
  class="foot min-h- bg-base-200 bg-cover bg-center flex justify-center items-center"
  style="background-image: url('assets/images/IMG_0859.webp')"
>
  <div class="text-white text-center m-2 opacity-80 p-2">
    <h1 class="text-[45px] font-bold text-center p-4 f1">Los Esperamos</h1>
    <p class="mb-2 text-center justify-center">
      Con mucho amor y alegría los invitamos a
      <br />
      formar parte de nuestra boda.
    </p>
    <p class="underline mb-5 text-center justify-center font-semibold">
      Flavia y Carlos José
    </p>
  </div>
</div>
